<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link th:href="@{/images/home/logo.png}" rel="icon" />
	<title>500</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/error.css}" />

</head>

<body>

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>Oops!</h1>
		</div>
		<h2>500 - Internal Server Error</h2>
		<p>We encountered an error on the server side. We will solve this as soon as possible </p>
		<a th:href="@{/}">Go To Homepage</a>
	</div>
</div>

</body>

</html>
