<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Auction - My Items</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Auction Items</li>
        <li class="breadcrumb-item">
            <a th:href="@{/seller/add/item}">
                New Item
            </a>
        </li>
    </ol>
    <section>
        <div class="row">
            <div class=" text-danger" th:if="${param.not_found}">Auction Item not found</div>
            <div class=" text-success" th:if="${param.add_success}">Auction Item successfully</div>
            <div class=" text-danger" th:if="${param.exist}">Auction Item with given name exists</div>
            <div class=" text-success" th:if="${param.delete_success}">Auction Item deleted successfully</div>
            <div class=" text-success" th:if="${param.update_success}">Auction Item updated successfully</div>
            <div class=" text-danger" th:if="${param.delete_error}">Failed to delete Auction Item</div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Seller</th>
                        <th>Starting bid</th>
                        <th>CLosing date</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="auctionItem : ${auctionItems}">
                        <td th:text="${auctionItem.getName()}"></td>
                        <td th:text="${auctionItem.getSeller().name}"></td>
                        <td th:text="${auctionItem.getStartingBid()}"></td>
                        <td th:text="${auctionItem.getClosingDate()}"></td>
                        <td th:text="${auctionItem.getCategory().name}"></td>
                        <td class="d-flex justify-content-between">
                            <a th:href="@{/item/{id} (id= ${auctionItem.id})}">
                                <i class="fa fa-eye text-secondary"></i>
                            </a>
                            <a th:href="@{/seller/edit/item/{id} (id= ${auctionItem.id})}">
                                <i class="fa fa-edit text-primary"></i>
                            </a>
                            <a th:href="@{/seller/delete/item/{id} (id= ${auctionItem.id})}">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>

        <!--        pagination-->
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Auction Items: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/admin/items/page/' + ${i}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/admin/items/page/' + ${currentPage + 1}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/items/page/' + ${totalPages}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block layout:fragment="javascript">

</th:block>

</body>
</html>